RepositoryPatternNet5Api/bin/
RepositoryPatternNet5Api/bin/Debug/
RepositoryPatternNet5Api/bin/Debug/net5.0/
RepositoryPatternNet5Api/obj/
RepositoryPatternNet5Api/obj/Debug/
RepositoryPatternNet5Api/obj/Debug/net5.0/
RepositoryPatternNet5Api/bin/Debug/net5.0/RepositoryPatternNetCoreApi.deps.json
